* {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #2B2B26;
}

h1 {
    background-color: #F7F70E;
    margin: 30px 0px;
    padding: 15px;
}

h2 {
    margin-top: 150px;
    font-size: 38px;
    color: white;
}

body p {
    font-size: 50px;
    color: white;
    margin: 30px;
}

#number {
    font-size: 50px;
    margin: 35px 0px;
    color: white; 
}

button {
    font-size: 30px;
    margin: 50px 20px;
    cursor: pointer;
    background-color: #f7f70e;
    padding: 20px;
}

li {
    color: white;
    font-size: 26px;
    padding: 15px 0px;
}